*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1s;
}
header{
    width: 100%;
    height: 10vh;
    background-color: white;
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    
}
.logo{
    display: flex;
}
.list{
    display: flex;
    list-style-type: none;
    font-size: 1.5rem;
    gap: 40px;
    font-weight: bold;
}
.list li:hover{
    background-color: #cfecf7;
    padding: 5px 15px;
    border-radius: 5px;
}
.list a{
    color: black;
    text-decoration: none;
}
.icons i{
    font-size: 2rem;
    margin-left: 10px;
}
main{
    width: 100%;
    /* height: 100vh; */
    background-color: rgb(56, 55, 55);
    color: white;
}
.heading{
    text-align: center;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.image{
    /* min-width: 100%; */
    width: 80%;
    height: 40vh;
    margin: 10px ;
    background-image: url(./about\ img-1.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 80% 100%;
    /* background-color: aqua; */
    border-radius: 10px;
    margin-left: auto;
}
.image img{
    width: 80%;
    height: 100%;
    display: none;
}
.image:hover .img-2{
    display: block;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left: auto; */
    padding: 20px 40px;
    color: rgb(122, 118, 118);
}
.content h3{
    font-size: 2rem;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px 0px ;
}
.content p{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content ul{
    font-size: 20px;
    align-self: center;
    justify-content: center;
    /* font-weight: bold; */
    display: flex;
    gap: 50px;
    /* padding-left: 20px; */
}
footer {
    width: 100%;
    height: 250px;
    background-color: rgb(146, 146, 243);
    display: flex;
    justify-self: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    /* margin: 5px; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.f1 ul {
    list-style-type: none;
}
.f2 ul{
    list-style-type: none;
}
.f3 ul{
    list-style-type: none;
}

.f1 p {
    color: #575656;
    margin-bottom: 30px;
    color: #696967;
}

.f1 h4 {
    font-size: 2rem;
    padding-bottom: 20px;
}

.f1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.f2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.f2 ul>li {
    padding-top: 10px;
}

.f3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
}

.f3 ul>li {
    padding-top: 20px;
}

.f4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



 
@media only screen and (min-width: 300px) and (max-width: 575.98px){
    .icons i{
        display: none;
    }
    .list{
        display: none;
    }
}



@media only screen and (min-width: 575.98px) and (max-width: 900px) {
    .logo{
        margin-top: 10px;
    }
    .list{
        font-size: 1.3rem;
        margin-top: 15px;
    }
    .icons i{
        font-size: 1.3rem;
        margin-top: 15px;
    }
}




