*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 10vh;
    /* background-color: pink; */
}
.logo img{
    width: 50px;
    height: 50px;
}
.logo{
    display: flex;
    margin-left: 10px;
}
.list{
    display: flex;
    gap: 30px;
    font-size: 1.2rem;
    list-style-type: none;
    padding: 10px 0px;
}
nav a{
    text-decoration: none;
    color: black;
}
.icons i{
    font-size: 1.5rem;
    padding: 10px 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px ;
}
main{
    width: 100%;
    /* height: 90vh; */
    /* min-height: 100vh; */
    /* background-color: blue; */

}
.hero{
    width: 90%;
    height: 80vh; 
    margin: auto;
    padding-top: 10px;
}
.backimg{
    width: 100%;
    height: 100%;
    background-image: url(./bg-hero2.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: cover;
    filter: blur(4px);
    border-radius: 10px;
}
