*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1s;
}
body{
    /* height: 1200px; */
    perspective: 800px;
}
header{
    width: 100%;
    height: 80px;
    background-color: white;
}
.logo{
    display: flex;
    margin-left: 10px;
}
.logo h1{
    padding-top: 5px;
    padding-left: 5px;
}
.list ul{
    display: flex;
    list-style-type: none;
    font-size: 20px;
    gap: 60px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 20px;
}
.list ul li:hover{
    background-color: #cfecf7;
    padding: 5px 15px;
    border-radius: 5px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px ;
}
nav a{
    color: black;
    text-decoration: none;
}
.icons i{
    margin-left: 40px;
    font-size: 30px;
    margin-right: 10px;
    margin-top: 10px;
}
.s1{
    width: 100%;
    height: 250px;
    background-image: url(./cart\ img.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: contact 1s linear;
}
@keyframes contact{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.s1 .biglogo{
    display: flex;
    gap: 5px;
    padding-top: 10px;
}
.s2{
    width: 100%;
    height: 600px;
    padding: 0px 80px 0px 80px;
    text-align: center;
    animation: s2 2s linear;
}
@keyframes s2{
    0%{
        opacity: 0;
    }
    60%{
        opacity: 0.8;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.s2 h2,p{
    padding: 10px;
}
.s2 h2{
    font-size: 2rem;
}
.s2 p{
    color: rgb(109, 108, 108);
}
.s2 .c1{
    width: 100%;
    height: 100%;
    padding: 40px;
    /* border: 1px solid black; */
    text-align: left;
    display: flex;
  justify-content: space-evenly;
}
.c1 .l1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    /* margin-left: 40px; */
}
.c1 .l1 .details h3 p{
    color: rgb(105, 103, 103);
}
.c1 .l1 .details{
    display: flex;
    gap: 10px;
}
.c1 .r1>div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 0px;
    margin-top: 20px;
}
.c1 .r1>div>input{
    width: 500px;
    height: 50px;
    padding: 5px 0px 0px 10px;
    border-radius: 10px;
}
.c1>.r1>div>.i1{
    width: 500px;
    height: 110px;
}
.c1>.r1>div>button{
    width: 200px;
    padding:  10px 20px;
    border: 1px solid black;
    /* background-color: rgb(219, 54, 54); */
    border-radius: 5px;
    text-decoration: none;
}
.c1>.r1>div>button:hover{
    background-color: brown;
}
.s3{
    width: 100%;
    height: 150px;
    /* border: 1px solid black; */
    margin-top: 120px;
}
.trophy{
    padding: 40px;
    display: flex;
    gap: 30px;
    justify-content: center;
    background-color: rgba(223, 155, 178, 0.24);
    margin: 0px 40px;
}
.trophy>.r1,.r2,.r3,.r4{
   display: flex;
}
.trophy>div>i{
    font-size: 4rem;
}
.trophy>div>h3>p{
    color: rgb(128, 126, 126);
}
    footer{
        width: 100%;
        height: 250px;
        /* background-color: rgb(146, 146, 243); */
         background-color: rgb(146, 146, 243);
        display: flex;
        justify-self: center;
        justify-content: space-evenly;
        align-items:center;
        gap: 40px;
        margin: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .f1 ul{
        list-style-type: none;
    }
    .f1 p{
        color:#686765;
    }
    .f1 h4{
        font-size: 2rem;
        padding-bottom: 20px;
    }
    .f1 ul{
        margin-bottom: 30px;
        color: #8b8a88;
    }
    .f1{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .f2{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .f2 ul>li{
        padding-top: 10px;
    }
    .f3{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 10px;
    }
    .f3 ul>li{
        padding-top: 20px;
    }
    .f4{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    footer input,button{
        background-color:transparent;
        color:black;
        border:none;
        text-decoration: underline;
    }
    /* ----end----- */


    /* ----media 300px to 575px--- */

@media only screen and (min-width: 300px) and (max-width: 575.98px) {
        .list ul{
            display: none;
        }
        .logo img{
            width: 50px;
            height: 50px;
        }
        .icons i{
            display: none;
        }
        .s2 {
            width: 100%;
            height: 600px;
    /* padding: 0px 80px 0px 80px; */
            padding: 0px;
            text-align: center;
            animation: s2 2s linear;
        }
        .s2 h2 {
            font-size: 1rem;
        }
        .s2 p{
            font-size: 15px;
        }
        .s2 .c1{
            flex-direction: column;
        }
        .c1 .l1 .details{
            margin-left: 0px;
        }
        .s3{
            margin-top: 470px;
        }
        .c1 .r1>div>input{
            width:80%;
        }
        .c1>.r1>div>.i1 {
            width: 80%;
            height: 110px;
        }
        .trophy{
            padding: 10px;
            gap: 0px;
            margin: 0px 15px;
        }
        .trophy h3{
            font-size: 10px;
        }
        .trophy div i{
            font-size: 15px;
        }
        .trophy>.r1, .r2, .r3, .r4 {
            display: flex;
            gap: 3px;
        }
        footer{
            flex-wrap: wrap;
            gap: 0px;
            height: 435px;
        }
        

    }


    @media only screen and (min-width: 575.98px) and (max-width: 900px) {
        .icons i{
            display: none;
        }
        .s2 .c1{
            padding: 5px;
        }
        .s2{
            padding: 0px 10px;
        }
        .s3{
            min-height: 210px;
        }
        .c1 .r1>div>input{
            width: 100%;
        }
        .c1>.r1>div>.i1{
            width:100%;
        }
        .trophy{
            gap:0px;
            margin: 0px 25px;
        }
        .trophy div i{
            font-size: 35px;
        }
        .trophy div h3{
            font-size: 15px;
        }
        footer{
            width: 100%;
            /* background-color: black; */
            /* color: white; */
            padding-left: 10px;
        }
        
    }
