*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 80px;
    background-color: white;
}
nav>div{
    display: flex;
    margin-left: 10px;
}
nav>div>h1{
    padding-top: 5px;
    padding-left: 5px;
}
nav>div+div>ul{
    display: flex;
    list-style-type: none;
    font-size: 20px;
    gap: 60px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 20px;
}
nav>div+div>ul>li>a{
    color: black;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px ;
}
nav>div+div+div>i,div+div+div>a{
    margin-left: 40px;
    font-size: 30px;
    margin-right: 10px;
    margin-top: 10px;
    color: black;
}
main>.s1{
    width: 100%;
    height: 40px;
    background-color: rgb(240, 202, 208);
}
.s1>.n1{
    padding: 10px;
    display: flex;
    gap: 20px;
    padding-left: 30px;
}
.s1>.n1>ul{
    border-right: 1px solid;
    padding-right: 20px;
}
.s1>.n1>ul>li>i{
    font-size: 10px;
}
.s1>.n1>ul>li{
    list-style-type: none;
}
.s1>.n1>h5{
    color: rgb(44, 42, 42);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.s1>.n1>ul{
    display: flex;
    gap: 10px; 
}
.s2{
    display: flex;
    padding: 20px 40px;
    gap: 30px;
    justify-content: space-around;
}
.s2>.small>img{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 70px;
    height: 70px;
}
.s2>.big{
    width: 250px;
    height: 300px;
    /* border: 1px solid; */
    border-radius: 7px;
    background-image: url(./big\ sofa.jpg);
    background-size: 100% 80%;
    background-repeat: no-repeat;
}
.s2>.right{
    /* line-height: 40px; */
    padding-top: 10px;
}
.s2>.right>p{
    margin: 20px 0px;
}
.s2>.right>div>i{
    color:#FFD700;
    font-size: 15px;
}
.s2>.right>div>p{
    border-left: 1px solid;
    padding-left: 10px;
    margin-left: 10px;
    color: rgb(189, 185, 185);
}
.s2>.right>.size{
    margin: 20px 0px;
}
.s2>.right>div{
    display: flex;
}
.s2>.right>.circle>div{
    width: 20px;
    height: 20px;
    background-color: #7393B3;
    border-radius: 50%;
    margin:20px 0px;
}
.s2>.right>.circle>.c2{
    background-color: black;
    margin-left: 10px;
}
.s2>.right>.circle>.c3{
    background-color: rgba(119, 38, 38, 0.788);
    margin-left: 10px;
}
.s2>.right>.compare{
    display: flex;
    gap: 20px;
    padding-bottom: 60px;
    border-bottom: 1px solid rgb(134, 132, 132);
}
.s2>.right>.compare>h4{
    border: 1px solid rgb(121, 118, 118);
    padding: 8px 30px;
    border-radius: 5px;
}
.s2>.right>.compare>button{
    padding: 10px;
    border: 1px solid;
    text-decoration: none;
    border-radius: 5px;
}
.s2>.right>.compare>button:hover{
    background-color: rgb(206, 115, 115);
}
.s3{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}
.s3>.top{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.s3>.bottom{
    width: 70%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
    color: rgb(105, 103, 103);
}
.s3>.last{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.s3>.last>.l0{
    width: 500px;
    height: 250px;
    border-radius: 5px;
    /* border: 1px solid black; */
}
.s3>.last>.l1{
    background-image: url(./sofas3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.s3>.last>.l2{
    background-image: url(./sofas2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat
}
footer{
    width: 100%;
    height: 250px;
    /* background-color: rgb(146, 146, 243); */
    background-color: rgb(146, 146, 243);
    display: flex;
    justify-self: center;
    justify-content: space-evenly;
    align-items:center;
    gap: 40px;
   margin: 5px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
}
footer>div>ul{
    list-style-type: none;
}
footer>div>p{
    color:#686765;
}
footer>.f1>h4{
    font-size: 2rem;
    padding-bottom: 20px;
}
footer>.f1>ul{
    margin-bottom: 30px;
    color: #8b8a88;
}
footer>.f1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer>.f2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
footer>.f2>ul>li{
    padding-top: 10px;
}
footer>.f3{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
}
footer>.f3>ul>li{
    padding-top: 20px;
}
footer>.f4{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer>input,button{
    background-color:transparent;
    color:black;
    border:none;
    text-decoration: underline;
}
/* ----end----- */

@media only screen and (min-width: 300px) and (max-width: 575.98px) {
    nav>div+div>ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    gap: 60px;
    display: none;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 20px;
}
.icons i,a{
    display: none;
}
.s2 {
    display: flex;
    padding: 20px 10px;
    gap: 10px;
    justify-content: space-around;
}
.s2>.right>p {
    margin: 20px 12px;
    font-size: 13px;
}
.s2>.right>.compare {
    display: flex;
    gap: 15px;
    padding-bottom: 35px;
    border-bottom: 1px solid rgb(134, 132, 132);
}
.s3>.top {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 8px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.s2>.right>.compare>h4 {
    border: 1px solid rgb(121, 118, 118);
    padding: 8px 25px;
    border-radius: 5px;
}
.s3>.last {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0px 10px;
}
footer{
    flex-wrap: wrap;
    height: 485px;
    gap: 0px;
}
}



@media only screen and (min-width: 575.98px) and (max-width: 900px) {
    .icons i{
        /* display: none; */
        /* font-size: 15px; */
    }
    
    .list{
        gap: 30px;
        margin-left: 20px;
        font-size: 15px;
        display: none;
    }
    .list ul{
        font-size: 5px;
    }
    .s2{
        padding: 20px 20px;
    }
    .s3{
        padding: 0px 20px;
    }
}
